* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
  }
  body {
    font-family: Arial, Helvetica, sans-serif;
  }
  .logo {
    color: rgb(252, 252, 252);
  }
  .logo {
    
    font-size: xx-large;
    padding: 15px;
  }
  .header {
    background-color: #1a7ae2;
  }
  
  .nav {
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    width: 100%;
    z-index: 999;
  }
  .nav li a {
    display: inline-block;
    text-transform: uppercase;
    margin: auto;
    color: rgb(252, 252, 252);
    cursor: pointer;
    transition: 0.5s ease all;
    border-radius: 5px;
    padding: 15px;
  }
  ul{
      display: flex;
      gap:0 2px;
    justify-content: space-between;
    font-size: large;
    padding:15px;
    margin: 0 2px; 
  }
  li{
      margin: 0 6px;
  }
  
  
  /* products css */
  .main{
      max-width:70vw;
      color:black!important ;
      align-items:center;
      margin: 2% auto;
     
  }
  .product-list {
      display: flex;
      justify-content: space-between;
    }
    
    .product {
      width: 200px;
      margin: 0 2px;
      padding: 5px;
      background-color: #f2f2f2;
      border-radius: 5px;
      text-align: center;
      transition: transform 0.3s ease;
    }
    
    .product:hover {
      transform: translateY(-5px);
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    }
    
    .product img {
      width: 100%;
      height: auto;
      border-radius: 5px;
    }
    
    .product h3 {
      margin-top: 10px;
      font-size: 18px;
    }
    
    .product p {
      margin-top: 5px;
      font-size: 16px;
    }
  
    .add-to-cart {
      background-color: #604be8;
      color: white;
      border: none;
      padding: 8px 16px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      cursor: pointer;
      transition:.3s ease all;
  }
  .add-to-cart:hover {
          opacity:.4;
  }
          
  
    /* cartdetail css */
    .detail{
        width: 80%;
        margin: 2% auto;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 2px 4px 8px #ccc;
    }
    .detail:hover{
        transform: translateY(-5px);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    }
     img{
        width: 300px;
        justify-self: flex-start;
        right: 2px;
    }
    .sub-detail{
        display: flex;
        flex-direction: column;
        gap: 2rem 0;
        justify-content: space-between;
    }
    .price{
        font-family:   Arial, sans-serif;
        font-style: italic;
    }
    .back{
        font-size: large;
        background:#f1eee9 ;
        color: rgb(18, 15, 208);
        padding:.5em 1em;
        border-radius: 5px;
        cursor: pointer;
    }
     


    /* cartdetail css */
  
    @media (max-width: 668px) {
        .product-list{
            display: flex;
            flex-direction: column;
            align-items:center;
            margin: 0;
            gap: 2px 0;
        }
        .product {
          width: 100%;
          max-width: 300px;
        }
    
        /* detail product css */
        .detail{
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 1px;
            margin: 2px ;
            padding: 12px;
            box-shadow: 2px 4px 8px #ccc;
        }
    
      }
      